@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
}

img {
    width: 100%;
    height: auto;
}

/* header part start  */

.logo h2 {
    font-size: 30px;
    margin-left: 10px;
    color: #2d394f;
}
.logo a img{
    width: 35px;
}
header.header {
    background: #f5f9f9;
    padding: 15px 0;
}

.bars {
    font-size: 30px;
    color: #15a3f9;
    cursor: pointer;
    display: none;
}

.manu_wrapper ul li a {
    font-size: 16px;
    text-transform: uppercase;
    padding: 15px;
    display: block;
    font-weight: 600;
    transition: .5s;
}

.manu_wrapper ul li:hover a {
    color: #2d394f;
}

/* header part end */

/* home slider part start  */

.custom_btn {
    max-width: 200px;
    border: 1px solid #15a3f9;
    background: transparent;
    padding: 10px 25px;
    border-radius: 3px;
    color: #fff;
    transition: .5s;
}

.custom_btn:hover {
    background: #15a3f9;
}

#main {
    background: url(../image/home_slider.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main_wrapper span {
    height: 1px;
    display: inline-block;
    width: 100%;
    background: #15a3f9;
    border: 1px solid #15a3f9;
    margin: 20px 0;
}

.main_wrapper h1 {
    font-size: 100px;
    color: #fff;
    margin-top: 140px;
}

.main_wrapper p {
    color: #fff;
    font-size: 20px;
    margin-bottom: 40px;
}

.main_wrapper button {
    margin-bottom: 83px;
}

.main_wrapper i {
    display: block;
    color: #fff;
    font-size: 22px;
    margin: 60px 0;
}

/* home slider part end  */


/* design part start  */

.design_con h1 {
    color: #2d3950;
    margin-bottom: 20px;
}

.design_con p {
    font-size: 20px;
    color: #999999;
}

.design_con {
    margin: 0 80px;
}

section {
    padding: 80px 0;
}

section#design {
    background: #f6f9f9;
}


/* design part start  */


/* feature part start  */


.feature_icon {
    width: 100px;
    height: 100px;
    background: #5fc3ff;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: .5s;
}
.img_size{
    height: 40px !important;
    width: 25px !important;
}
.feature_icon img {
    width: 40px;
    z-index: 11;
}

.feature_box h3 {
    font-size: 22px;
    color: #2d3950;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 20px;
}

.feature_box p {
    font-size: 15px;
    color: #999999;
}

.feature_box {
    padding: 0 55px;
}
.feature_icon::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: #2d394f;
    transition: .5s;
    transform: translateX(-90%);
}
.feature_icon:hover::before{
    transform: translateX(0%);

}


/* feature part end  */

/* work part start  */

section#work {
    background: #f6f9f9;
}

.section_title p {
    font-size: 15px;
    color: #909090;
}

.section_title h3 {
    font-size: 31px;
    font-weight: 400;
    margin-bottom: 10px;
    color: #2d3950;
}

.work_box {
    height: 260px;
    overflow: hidden;
    position: relative;
}

.work_box img {transform: scale(1.3);transform-origin: top; height: 100%;}

.hover_con {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #3026ffd1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    opacity: 0;
    transition: .5s;
    transform: scale(0);
}
.work_box:hover .hover_con{
    opacity: 1;
    transform: scale(1);
}

.hover_con i {
    border: 1px solid #fff;
    padding: 16px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}
/* work part end  */

/* comment part start  */

.comment{
    background: url(../image/slider.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.comment_wrapper input {
    background: transparent;
    padding: 16px;
    color: #999999;
    outline: none;
    font-size: 18px;
    border: 2px solid #999999;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 100%;
}

.comment_wrapper textarea {
    background: transparent;
    border: 2px solid;
    outline: none;
    width: 100%;
    height: 160px !important;
    margin-bottom: 10px;
    font-size: 20px;
    color: #999999;
    resize: none;
    border-radius: 5px;
    padding: 16px;
}

::placeholder {
    color: #999999;
    opacity: 1;
  }
  
  input[type="checkbox"] {
    width: 18px;
    margin-right: 10px;
}

.comment_bottom span {
    color: #999999;
}

.comment_bottom button {
    width: 140px;
}

footer {
    padding: 20px 0;
}

.footer_icon i {
    background: #5fc3ff;
    color: #2d394f;
    font-size: 25px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    float: right;
    margin-left: 10px;
    cursor: pointer;
    transition: .5s;
}

.footer_icon i:hover {color: #fff;}


.back_to_top {
    background: #2d394f;
    width: 40px;
    height: 40px;
    color: #ffff;
    border-radius: 5px;
    position: fixed;
    right: 5%;
    bottom: 5%;
    cursor: pointer;
}.back_to_top i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#full_img_box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000000e0;
    z-index: 11111;
    transition: .5s;
    transform: scale(0);
}

div.full_img {
    width: 60%;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section#full_img_box span {
    position: absolute;
    right: 5%;
    top: 5%;
    color: #fff;
    font-size: 25px;
    cursor: pointer;

}



#body_overlay {
    background: #140f3ccf;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1111;
    transition: .5s;
    transform: scale(0);
    opacity: 0;
}


.show_overlay{
    transform: scale(1) !important;
opacity: 1 !important;
}


.img_box {
    width: 80%;
    margin: auto;
    margin-top: -23px;
}

p.close_btn {
    position: absolute;
    top: 5%;
    right: 5%;
    color: #fff;
    font-size: 32px;
    cursor: pointer;
}

.full_img{
    position: fixed;
    top: 18%;
    left: 18%;
    width: 64%;
    z-index: 111111;
    height: 400px !important;
}